@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
    background: #FFF;
    color: #212F3C;
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 2rem;
    margin: 2rem 0rem;    
}

.faq {
    max-width: 80%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid slategrey;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3, svg {
    font-size: 1.2rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.5s ease-out;
}

.answer p {
    padding-top: 1rem;
    line-height: 1.3;
    font-size: .9rem;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 1s ease-in-out
}

.faq.active i {
    transform: rotate(180deg);
}

i {
    transition: transform .5s ease-in-out;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}